

#lighterbutton {
	color: rgb(231, 231, 231);
	background-color: rgb(152, 156, 155, .5)
}
#homeButton {
	color: rgb(102,107,105);
}

#navMain {
	min-height: 70px;
}

#navButtons {
	min-height: 100px;
}
#navbarButtons {
	color: rgb(102,107,105);
}

#grey_background {
	background-color: rgb(39, 39, 39);
}

.blink,.blink:visited {
	color: #fff
}

.blink:hover{color: #707070}

#section_Home {
	max-height: 700px;
	overflow: hidden;
	background-color: rgba(0, 0, 0, 0)

}

#section_Home .page_title {
	padding-top: 200px;

}

#section_Home img {
	min-width: 1200px;
	overflow: hidden;
}
#section_Clients img {
	min-width: 1200px;
}

.clientdiv {
	padding-bottom: 80px;

}


#section_About {
	min-height: 350px;
	max-height: 600px;
	background-color: rgb(0,0,0,.0)

}

#section_Video {

	min-height: 300px;
	background-color: rgb(0,0,0,.0)

}

.nav-link {
	color:  rgb(102, 102, 102) !important;
}

.nav-button.nav-link:hover {
	/*This is the color that lingers for a sec after you leave a button*/
	background-color: #DF0101 !important;
	/*This is the color that makes up the background*/
	background-image: -webkit-gradient(linear, left top, left bottom, from(#DF0101), color-stop(40%, #E60808), to(#E60808))
}
.nav-item {
	color: rgb(102,107,105) !important;
}

.navbar-brand:hover {
	color: rgb(90, 90, 90) !important;

}

.nav-item:hover {
	color: rgb(121, 121, 121) !important;
}

h5 {
	font-size: 1.3rem;
	font-family: 'BebasKai','Helvetica Neue', Helvetica, Arial, sans-serif;
	letter-spacing: 2px;
}
#section_Clients {
	max-height: 500px;
	background-color: rgb(0,0,0,.0)
}
#section_Resume {

	background-color: rgb(0,0,0,.0)
}

#extraspace {
	padding-bottom: 10px;
}

#videospacing {
	padding-bottom: 15px;
}

#section_Contact {
	min-height: 350px;
	overflow: hidden;

}

#section_Contact img {
	width: 100%;
	min-width: 400px;
	overflow: hidden;

}

#section_Contact .card-img-overlay {
	background-color: rgb(0,0,0,.7);

}

#clientscard {
	padding-bottom: 100px;
}

#centerThis {
	text-align: center;
	background-color: rgb(110, 110, 110);
	font-family: 'BebasKai','Helvetica Neue', Helvetica, Arial, sans-serif;
	padding-top: 15px;
	padding-left: 5px;
	padding-right: 5px;
}

#centerThis2 {
	text-align: left;
	background-color: rgb(88, 88, 88);
	font-family: 'BebasKai','Helvetica Neue', Helvetica, Arial, sans-serif;
	padding-top: 15px;
	padding-left: 10px;
	padding-right: 10px;
	font-size: 15px;
}

#toggle {
	font-family: 'BebasKai','Helvetica Neue', Helvetica, Arial, sans-serif;
}

#Popover2 {
	color: rgb(188,188,188);
	background-color: rgba(78, 78, 78, 0.8) !important;
	background-image: none !important;
	padding: .5rem;
	margin-top: 1rem;
	margin-left: 10px;
	letter-spacing: 1px;

}

.page{
	background-color: rgb(38, 39, 38);
	border: none;

}

.navbar {
	border: none !important;
	background-color: rgb(221,221,221,.8) !important;
}

.navbar-brand {
	padding-top: 5px;
	color: rgb(80, 87, 83);
}

#buttons2 {
	padding-right: 4px;
	padding-left: 4px;
}

@font-face { font-family: Crystal Sky; src: url('Crystal-Sky.otf'); }
@font-face { font-family: Gotham Book; src: url('GothamBook.ttf'); }
@font-face { font-family: Gotham Bold; src: url('GothamBold.ttf'); }
@font-face { font-family: BebasKai; src: url('BebasKai.ttf'); }

#section_Home * .page_title{
	font-family: 'BebasKai','Helvetica Neue', Helvetica, Arial, sans-serif;
	text-transform: none;
	font-size: 50px;
	font-weight: normal;
	color: rgba(255,255,255,1) !important;
}

.map-size {
	height: 300px;
	width: auto;
}

.church_title{
	font-family: 'BebasKai','Helvetica Neue', Helvetica, Arial, sans-serif;
	text-transform: none;
	font-size: 80px;
	padding-top: 20px;

}


.page_title{
	color:rgba(228, 228, 228, 0.9);
	padding-top: 50px;
	font-family: 'BebasKai','Helvetica Neue', Helvetica, Arial, sans-serif;
}
.card-body {
	padding: 5px !important;
	flex: auto !important;
}
.thumbsizes {
	max-width: none !important;
	min-height: 720px;
	min-width: 1280px;
	padding: 15px;
	border: none !important;

}

.thumbbuttons {
	border: 0px;
	padding: 0 !important;
	background-color: none !important;
	background-color: rgb(56, 85, 85);
}

.thumbbuttons.btn-secondary{
	margin-bottom: 0;
}

.modals1 {
	max-width: none !important;
	border: none !important;
	background-color: rgb(57, 59, 59);
}

#modalcards {
	background-color: rgb(38, 39, 38);

}

#modalcards.card {
	border: none !important;
}
.nav-button {
	cursor: pointer;
	border: none;

}
.modalvideo {
	position: absolute;
	min-width: 100%;
	min-height: 100%;
	width: auto;
	height: auto;
	padding-right: 30px;
	padding-bottom: 30px;

}
.modaltitle {

}

.lightbox {
	background-color: black;
	max-width: none !important;
	min-height: 720px;
}
.nav-item {
	padding-top: 7px;
	font-family: 'BebasKai','Helvetica Neue', Helvetica, Arial, sans-serif;
	color: rgb(255,255,255) !important;
}
.btn {
	border: 0px !important;
	font-family: 'BebasKai','Helvetica Neue', Helvetica, Arial, sans-serif !important;
}
.btn-secondary {
	color: rgb(188,188,188);
	background-color:  rgb(38, 39, 38) !important;
	background-image: none !important;
	padding: .5rem;
	margin-top: .3rem;
	margin-bottom: .5rem;
	letter-spacing: 1px;
}



 img.go {
	width: 450px;
	max-width: 100%;
	max-height: 450px;
  }


/*
.dropdown-item{
	padding: 5px;
}

padding: .5rem;
	margin-top: 1rem;
	margin-left: 5px;
*/
